<!DOCTYPE html>
<html layout:decorator="frontend/layout">
    <head>
        <title th:text="#{frontend.post.about.title}">About</title>
    </head>
    <body>
        <div layout:fragment="header">
            <header class="intro-header" style="background-image: url('img/about-bg.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="page-heading">
                                <h1 th:text="#{about.title}">About Me</h1>
                                <hr class="small">
                                <span class="subheading" th:text="#{about.subtitle}">Passionate about programming in general.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div layout:fragment="content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Este blog ha sido desarrollado con las siguientes tecnologías</p>
                    <ul>
                        <li>Spring Security, Spring MVC y Thymeleaf.</li>
                        <li>Spring JDBC, Spring ORM, Spring Data JPA y Hibernate.</li>
                        <li>Apache Derby (development profile), MySQL (production profile).</li>
                        <li>Apache Tomcat 9.</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
