<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="form-errors" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <div th:fragment="flash-message" th:if="${not #lists.isEmpty(successFlashMessages)}" class="alert alert-success">
            <ul>
                <li th:each="message:${successFlashMessages}" th:text="${message}"></li>
            </ul>
        </div>
    </body>
</html>
