<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="admin/layout">
    <head>
        <title th:text="#{admin.post.create.title}">Create Post</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap3-wysihtml5.min.css}"></link> 
    </head>
    <body>
        <div layout:fragment="main-content">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title text-capitalize" th:text="#{post.create.title}">Create new Post</div>
                </div>
                <div class="panel-body"  th:replace="admin/fragment/post::form(target=@{/admin/posts/save}, delete=false)"></div>
            </div>
        </div>
        <th:block layout:fragment="scripts">
            <script th:src="@{/js/bootstrap3-wysihtml5.all.min.js}"></script>
            <script>
                $(function() {
                    $('#bootstrap-editor').wysihtml5({
                        toolbar: {
                            "fa": true
                        }
                    });
                });
            </script>
        </th:block>
        
    </body>
</html>
