<!DOCTYPE html>
<html layout:decorator="admin/layout">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <div layout:fragment="main-content">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title text-capitalize" th:text="#{post.create.title}">Create new Post</div>
                </div>
                <div class="panel-body">
                    <form id="createPost" name="createPost" method="POST" action="#" th:action="@{/posts/create}" th:object="${post}">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <ul>
                                <li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{form.post.title.label}">Title</label>
                                <input type="text" th:field="*{title}" th:placeholder="#{form.post.title.placeholder}" class="form-control" id="name" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{form.post.subtitle.label}">Subtitle</label>
                                <input type="text" th:field="*{subtitle}" th:placeholder="#{form.post.subtitle.placeholder}" class="form-control" id="name" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success" th:value="#{form.post.submit}">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
