<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="admin/layout">
    <head>
        <title>TODO supply a title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-wysihtml5-0.0.2.css}"></link> 
    </head>
    <body>
        <div layout:fragment="main-content">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title text-capitalize" th:text="#{post.create.title}">Create new Post</div>
                </div>
                <div class="panel-body">
                    <form id="createPost" name="createPost" method="post" action="#" th:action="@{/admin/posts/create}" th:object="${post}">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <ul>
                                <li th:each="err: ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{form.post.title.label}">Title</label>
                                <input type="text" th:field="*{title}" th:placeholder="#{form.post.title.placeholder}" class="form-control" id="title" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label th:text="#{form.post.subtitle.label}">Subtitle</label>
                                <input type="text" th:field="*{subtitle}" th:placeholder="#{form.post.subtitle.placeholder}" class="form-control" id="subtitle" required />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12">
                                <label th:text="#{form.post.subtitle.label}">Body</label>
                                <textarea id="bootstrap-editor" th:field="*{body}" placeholder="Enter text ..." style="width:98%;height:200px;"></textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success" th:value="#{form.post.submit}">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <th:block layout:fragment="scripts">
            <script th:src="@{/js/wysihtml5-0.3.0.min.js}"></script>
            <script th:src="@{/js/bootstrap-wysihtml5-0.0.2.min.js}"></script>
            <script>
                $(function() {
                    $('#bootstrap-editor').wysihtml5();
                });
            </script>
        </th:block>
        
    </body>
</html>
