<!DOCTYPE html>
<html layout:decorator="frontend/layout">
    <head>
        <title th:text="#{frontend.post.show.title(${post.title})}">TODO supply a title</title>
    </head>
    <body>
        <div layout:fragment="header">
            <header class="intro-header" th:style="'background-image:url(' + @{/posts/image/{postId}(postId=${post.id})} + ');'">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                <div class="post-heading">
                                    <h1 th:text="${post.title}">Title</h1>
                                    <h2 class="subheading" th:text="${post.subtitle}">Subtitle</h2>
                                    <p class="meta">
                                        <span th:if="${post.authorName}" th:remove="tag">
                                            Posted by <span th:text="${post.authorName}">author</span>
                                        </span>
                                        <span th:text="${#dates.format(post.date, #messages.msg('app.dateformat'))}">publication date</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
            </header>
        </div>
        <div layout:fragment="content">
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" th:utext="${post.body}">Post content</div>
                    </div>
                </div>
            </article>
        </div>
    </body>
</html>
