<!DOCTYPE html>
<html layout:decorator="admin/layout">
    <head>
        <title th:text="#{admin.signup.title}">Signup</title>
    </head>
    <body>
        <div layout:fragment="page-content">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form method="POST" action="#" th:action="@{/admin/signup}" th:object="${user}" class="login-wrapper" >
                        <div class="box">
                            <div class="content-wrap">
                                <h6 th:text="#{signup.title}">Sign Up</h6>
                                <th:block th:replace="admin/fragment/alerts::form-errors"></th:block>
                                <input th:field="*{username}" class="form-control" type="text" placeholder="Username" />
                                <input th:field="*{fullName}" class="form-control" type="text" placeholder="Fullname" />
                                <input th:field="*{passwordClear}" class="form-control" type="password" placeholder="Password" />
                                <input th:field="*{confirmPassword}" class="form-control" type="password" placeholder="Confirm Password">
                                <input th:field="*{email}" class="form-control" type="email" placeholder="Email">
                                <div class="action">
                                    <button type="submit" class="btn btn-primary signup">Sign Up</button>
                                </div>                
                            </div>
                        </div>

                        <div class="already">
                            <p th:text="#{signup.go.to.login}">Have an account already?</p>
                            <a th:href="@{/admin/login}">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
